# pixi environments
.pixi/*
!.pixi/config.toml
*fastq
*fastq.gz
*.out
*.sra
SRR_files
Project2_Part3/C_compressirostris.dna.primary_assembly.STAR_2.7.11b
Project2_Part3/Star_310
Project2_Part3/Star_391
*.out
*.sam
